body{
    background-color: black;
    font-family: "Libre Baskerville", serif;
    color: whitesmoke;
}

div{
    width: 50%;
    margin-left: 30%;
    text-align: center;
    margin-top: 20%;

}

img{
    border: 5px solid whitesmoke;    
    width: 100%;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

p{
    font-size: 20px;
    font-style: italic;
}

