<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week or Weekend Vibe</title>
</head>

<body>
    <% if (isWeekend) { %>
        <h1>It's the Weekend! Time to Relax!</h1>
        <p>Enjoy your time off and recharge for the week ahead.</p>
        <%} else { %>
            <h1>It's a Weekday! Let's Get to Work!</h1>
            <p>Stay focused and productive!</p>
            <% } %>

</body>

</html>